.type-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 8px auto;
}

h1{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

footer{
    padding-top: 20px;
    border-top: 1px solid black;
}